/* =================================
            VARIABLES 
==================================== */
:root {
    /* LIGHT */
    --light-denary: #ffffff;
    --light-nonary: #e8e8eb;
    --light-octonary: #d2d2d7;
    --light-septenary: #bbbbc4;
    --light-senary: #a5a5b0;
    --light-quinary: #8e8e9d;
    --light-quaternary: #787889;
    --light-tertiary: #616176;
    --light-secondary: #4b4b62;
    --light-primary: #35354f;
    --light-text: black;
    --light-text-alt: white;
    /* DARK */
    
}