@import 'constants.css';

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
}
.flex-item {
    padding: 5px;
    margin: 4px;
    border: var(--light-quaternary) 2px solid;
    /* min-width: 80px; */
}