/* ================== 
      Mobile Nav 
================== */
@media only screen and (max-width: 600px) {
  .sidenav {
    width: 50px !important;
  }
  .sidenav button span {
    display: none;
  }
  .sidenav .fa-caret-down {
    display: none;
  }
}
/* ================== 
        Nav 
================== */
 /* Fixed sidenav, full height */
 .sidenav {
    height: 100%;
    width: 250px;
    margin-bottom: 200px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--light-primary);
    overflow-x: hidden;
    padding-top: 0px;
    /* transition: all 0.75s ease; */
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .sidenav .dropdown-btn {
    padding: 16px 8px 6px 16px;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);;
    font-size: 20px;
    color: var(--light-quinary);
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: text-decoration-color 300ms;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .sidenav .dropdown-btn:hover {
    color: #f1f1f1;
    text-decoration-color: rgba(255, 255, 255, 1);
  }
    
  /* Add an active class to the active dropdown button */
  .active {
    color: var(--light-text-alt) !important;
    text-decoration: underline 0.15em rgba(255, 255, 255, 1) !important;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: var(--light-secondary);
    padding-left: 8px;
    padding-bottom: 10px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  } 

.sidenav a {
  font-size: 16px;
  /* color: var(--light-octonary); */
}
/* ================== 
      Scroll bar 
================== */
.sidenav::-webkit-scrollbar {
  width: 0.75em;
}
.sidenav::-webkit-scrollbar-track {
  background: var(--light-quaternary);
  border-radius: 100vw;
  margin-block: 0.2em;
}
.sidenav::-webkit-scrollbar-thumb {
  background: var(--light-senary);
  border-radius: 100vw;
  border: 0.20em solid var(--light-quaternary);
}
.sidenav::-webkit-scrollbar-thumb:hover {
  background: hsl(120 100% 5% / 1);
}
@supports (scrollbar-color: var(--light-quaternary)) {
  * { /* This doesn't work */
    scrollbar-color: var(--light-quaternary);
    scrollbar-width: 0.75em;
    scrollbar-track-color: var(--light-quaternary);
    scrollbar-arrow-color: var(--light-senary);
  }
)