/* Table of Contents
-----------------------
    1.) IMPORTS
    2.) GENERAL
    3.) FOOTER
    4.) RADIO GROUPS
    5.) 
                     */

/* =================
    1.) IMPORTS
================= */
@import 'constants.css';

/* =================
    2.) GENERAL
================= */
body {
    margin: 0;
    padding: 0;
  }
main h1 {
    text-decoration: underline;
}
.header {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--light-nonary) !important;
    left: 0;
    width: 100%;
}
#content {
    max-width: 80%;
    margin: auto;
    margin-bottom: 85px;
    text-align: left;
    margin-left: 295px;
    display: block;
    margin-top: 45px !important;
    padding-right: 15px;
}
@media (max-width: 600px), (max-height: 600px) {
    #content {
        margin-left: 85px !important;
        margin-top: 25px !important;
    }
}
.page-heading {
    text-decoration: none;
    color: var(--light-secondary);
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT',
                 'Bookman Old Style', Bookman, 'Goudy Old Style',
                 Garamond, 'Hoefler Text', 'Bitstream Charter',
                 Georgia, serif;
    text-transform: uppercase;
}
.anchor {
    text-decoration: none;
    color: var(--light-text);
    border-bottom: var(--light-secondary) 3px solid;
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial,
                  sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    scroll-margin-top: 60px;
}
.anchor-sub {
    text-decoration: underline;
    color: var(--light-text);
    scroll-margin-top: 60px;
    width: fit-content;
}
.anchor-sub-sub {
    color: var(--light-text);
}
code {
    background-color: var(--light-nonary);
    padding: 0px 15px 0px;
    font-weight: bold !important;
}
.fa-copy {
    cursor: pointer;
}
main .fa-calculator {
    color: var(--light-primary) !important;
    height: inherit !important;
    padding-left: 15px;
    /* transform: rotate(90deg) */
    cursor: pointer;
}
.fa-calculator:hover {
    color: var(--light-quinary);
}
/* =================
    3.) TODO: FOOTER
================= */
#footer-parent {
    background-color: var(--light-octonary) !important;
    /* z-index: 100 !important; */
    border-top: var(--light-primary) solid 3px !important;
    position: fixed;
    bottom: 0;
    display: inline-block;
    width: 100%;
    left: 0;
    text-align: center;
    font-family: open sans, sans-serif;
    margin-left: 45px;
    justify-content: center !important;
}
.emoji { vertical-align: middle; }

/* ======================= 
    5.) RADIO GROUPS
========================== */
.radio-toolbar :checked + span {
    font-weight: bold;
    /* background-color: var(--light-tertiary); */
    
    color: var(--light-nonary);
}
.checkbox {
    display: none;
}
.radio-toolbar :not(:checked) + span {
    background-color: var(--light-nonary);
    color: black;
}
.radio-toolbar span {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}
.radio-toolbar input {
    cursor: pointer;
}
.radio-toolbar label {
    display: inline-block;
    margin-bottom: 2em;
}
.radio-toolbar {
    margin-top: 30px;
}
.radio-toolbar label :hover {
    background-color: var(--light-quinary);
}