/* Table of Contents
-----------------------
    1.) Imports
    2.) Table Layout
    3.) Styled Table
    4.) 
                     */
/* =================
  2.) Imports
================= */
@import 'constants.css';

/* =================
  2.) Table Layout
================= */
.table-container {
    padding: 12px;
    border-collapse: collapse;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.table-row {
    width: 100%;
    /* border-bottom: 5px solid var(--light-primary) !important; */
}
.table-left-column,
.table-right-column {
    width: 50% !important;   
    vertical-align: top;
}
.table-header {
    cursor: pointer;
    width: fit-content;
    background-color: var(--light-nonary);
    padding: 5px;
    color: var(--light-tertiary);
    font-weight: 900;
}
/* =================
  3.) Styled Table
================= */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 45%; */
    box-shadow: 0 0 20px rgba(142, 142, 142, 0.15);
    text-align: center;
    max-width: 100%;
    width: fit-content;
}
.styled-table button.table_button {
    border: none;
    background-color: var(--light-primary);
    transition-duration: 0.3s;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
}
.styled-table thead tr {
    background-color: var(--light-primary);
    color: #ffffff;
    text-align: center;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #4d4d4d;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: var(--light-quaternary);
    color: black;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--light-senary);
    color: black;
}
.styled-table tbody tr:nth-of-type(even) select {
    background-color: var(--light-octonary);
    color: var(--light-text);
    border-color: var(--light-text);
}
.styled-table tbody tr:nth-of-type(odd) select {
    background-color: var(--light-quinary);
    color: var(--light-text);
    border-color: var(--light-text);
}
.styled-table tbody tr:last-of-type {
    /* border-bottom: 2px solid #009879; */
    border-bottom: none;
}
.styled-table img {
    transition: transform .2s;
    width: 7.5pc;
    margin: 0 auto;
}
.styled-table img:hover {
    -ms-transform: scale(5); /* IE 9 */
    -webkit-transform: scale(5); /* Safari 3-8 */
    transform: scale(5); 
}

.styled-table.total-prob {
    border-right: thin solid !important;
    border-color: white;
    border-width: 5px !important;
}
.styled-table h2 {
    color: var(--light-octonary);
    margin-top: 0px;
}
.styled-table h3 {
    color: var(--light-text);
}
.styled-table tbody h2 {
    color: var(--light-text);
}
.styled-table tbody a {
    color: var(--light-denary) !important;
    font-style: italic;
}